<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Ragazzi Specialty Pizza - {{name}}</title>
        <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div id="wrapper">
        <h1>Welcome to Express Pizza!</h1>
        <div class="specialty-pizza">
            <h2>Specialty Pizza - {{name}}</h2>
            
            <p>Name: {{name}}</p>
            <p>Price: ${{price}}</p>
            
            <p><a href="/">Back to Homepage</a></p>
        </div>
        <div class="build-pizza">
            <h2>Build A Pizza</h2>
            <p><a href="/pizza_builder">Build Your Own</a></p>
        </div>
    </div>
</body>
</html>